//big-button
.big-button {
  background-color: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}
.big-button:disabled {
  opacity: 0.5;
}

//button
.button {
  background: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($purple, 10%);
  color: #fff;
  font-weight: 500;
  padding: $s-size;
}

//bem- block element modifier

.button--link {
  background: none;
  color: $off-white;
  padding: 0;
  border: none;
}
@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}
